.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px 10px;
    padding: 10px;
}
.item{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.itemUser{
    display: flex;
    gap: 10px;
}
.text{
    font-size: 20px;
    font-weight: 500;
}
.btn{
    font-size: 20px;
    font-weight: 500;
    height: 30px;
    border-radius: 4px;
}